{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Main --}}
<main id="main">
        {{#page}}
            <div class="container">
                <div class="row">
                        <div class="content-column col-lg-8{{#if @custom.show_sidebar_on_post}}{{#if @custom.show_related_posts}} col-lg-6{{/if}}{{/if}}{{#unless @custom.show_sidebar_on_post}}{{#unless @custom.show_related_posts}} shift{{/unless}}{{/unless}}">
                                 <div class="content-area">
                                        <h2>{{title}}</h2>
                                        {{content}}
                                  </div> 
                                  
                                  
           
                                  
                         </div> 
                </div> 
            </div> 
                        
        
        {{/page}}
</main>
